.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 10px;
}

ul{
    list-style-type: none;
}

.navbar_links li {
    display: inline;
    padding: 12px;
    transition-duration: 0.5s;
}

.navbar_links li :hover{
    color: #56598a;
    transition-duration: 0.5s;
}

.navbar_links li a{
    transition-duration: 0.5s;
}

.account { 
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    transition-duration: 0.5s;
    cursor: pointer;
}