.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #c7d2fe;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    transition-duration: 0.5s;
    min-height: 75px;
}

.navbar :hover {
    color: #56598a;
    transition-duration: 0.5s;
}

.navbar_title {
    font-size: 1.5rem;
    margin: 0 1rem;
}

.navbar_links {
    display: flex;
    gap: 15px;
}

.navbar_links li {
    padding: 10px;
}

.nav_dropdown { 
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    transition-duration: 0.5s;
    cursor: pointer;
}

.account {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hamburger {
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
}

@media (max-width: 930px) {
    .hamburger {
        display: flex;
    }
    .navbar_links {
        display: none;
    }
}