.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

.navbar_links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition-duration: 0.5s;
}

.navbar_links li {
    padding: 5px;
    transition-duration: 0.5s;
}

.navbar_links li :hover{
    color: #56598a;
    transition-duration: 0.5s;
}

.account { 
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    transition-duration: 0.5s;
    cursor: pointer;
}