.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  background-color: #c7d2fe;
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition: all 0.4s ease;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.link:hover {
    background-color: #a5b4fc;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -4px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}

.popup {
    background-color: #869ae7;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}

